# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

## <font color='blue'>Estudo de Caso 2</font>

## <font color='blue'>Data Science na Educação – Análise de Dados Escolares com Pandas</font>

![title](imagens/EstudoCaso2.png)

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.2

In [2]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
#!pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
#!pip install -q -U watermark

In [3]:
# Imports
import pandas as pd

In [4]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

pandas: 1.3.5

## Carregando os Dados

In [5]:
# Carrega o dataset de escolas
dados_escolas = pd.read_csv("dados/dataset_escolas.csv")

In [6]:
# Shape
dados_escolas.shape

(15, 5)

In [7]:
# Visualiza
dados_escolas.head()

   ID_Escola Nome_Escola Tipo_Escola  Numero_Alunos  Orcamento_Anual
0          0    Escola A     Publica           2917          1910635
1          1    Escola B     Publica           2949          1884411
2          2    Escola C  Particular           1761          1056600
3          3    Escola D     Publica           4635          3022020
4          4    Escola E  Particular           1468           917500

In [8]:
# Dataset de estudantes
dados_estudantes = pd.read_csv("dados/dataset_estudantes.csv")

In [9]:
# Shape
dados_estudantes.shape

(39160, 7)

In [10]:
# Visualiza
dados_estudantes.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica
0,0,Kevin Bradley,M,6,Escola A,66,79
1,1,Paul Smith,M,9,Escola A,94,61
2,2,John Rodriguez,M,9,Escola A,90,60
3,3,Oliver Scott,M,9,Escola A,67,58
4,4,William Ray,F,6,Escola A,97,84

In [11]:
# Combina os datasets
dados_full = pd.merge(dados_estudantes, dados_escolas, how = "left", on = ["Nome_Escola", "Nome_Escola"])

In [12]:
# Shape
dados_full.shape

(39160, 11)

In [13]:
# Visualiza
dados_full.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635
3,3,Oliver Scott,M,9,Escola A,67,58,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635

In [14]:
# Séries escolares no dataset
dados_full["Serie"].unique()

array([6, 9, 8, 7])

In [15]:
# Genero
dados_full["Genero"].unique()

array(['M', 'F'], dtype=object)

## Desafio de Análise de Dados

Responda as perguntas abaixo.

> **1- Temos dados de quantas escolas?**

In [16]:
total_escolas = len(dados_full["Nome_Escola"].unique())
total_escolas

15

> **2- Qual o total de registros de estudantes na base de dados?**

In [17]:
total_estudantes = dados_full["ID_Estudante"].count()
total_estudantes

39160

> **3- Qual o orçamento total considerando todas as escolas?**

In [18]:
total_orc = dados_escolas["Orcamento_Anual"].sum()
total_orc

24649428

> **4- Qual a média da nota dos alunos em Redação?**

In [19]:
media_redacao = dados_full["Nota_Redacao"].mean()
media_redacao

81.87574055158325

> **5- Qual a média da nota dos alunos em Matemática?**

In [20]:
media_matematica = dados_full["Nota_Matematica"].mean()
media_matematica

78.98493360572012

> **6- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Redação? (Entregue o resultado em valor absoluto e percentual)**

In [21]:
contagem_aprovados_red = dados_full[(dados_full["Nota_Redacao"] >= 70)].count()["Nome_Estudante"]
contagem_aprovados_red

33600

In [22]:
percentual_aprovados_red = contagem_aprovados_red / float(total_estudantes) * 100
percentual_aprovados_red

85.80183861082737

> **7- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática? (Entregue o resultado em valor absoluto e percentual)**

In [23]:
contagem_aprovados_mat = dados_full[(dados_full["Nota_Matematica"] >= 70)].count()["Nome_Estudante"]
contagem_aprovados_mat

29360

In [24]:
percentual_aprovados_mat = contagem_aprovados_mat / float(total_estudantes) * 100
percentual_aprovados_mat

74.97446373850867

> **8- Considerando que a nota de aprovação é 70, quantos alunos foram aprovados em Matemática e Redação? (Entregue o resultado em valor absoluto e percentual)**

In [25]:
contagem_total_aprovados = dados_full[(dados_full["Nota_Matematica"] >= 70) 
                                                  & (dados_full["Nota_Redacao"] >= 70)].count()["Nome_Estudante"]
contagem_total_aprovados

25518

In [26]:
percentual_aprovados_total = contagem_total_aprovados /  float(total_estudantes) * 100
percentual_aprovados_total

65.16343207354444

> **9- Crie um dataframe com os resultados das questões de 1 a 8 que você calculou acima. (Dica: crie um dicionário e depois converta em dataframe do Pandas)**

In [27]:
df_performance_escolar = pd.DataFrame({"Total de Escolas": [total_escolas], 
                                       "Total de Estudantes": [total_estudantes], 
                                       "Total Orçamento": [total_orc],
                                       "Nota Média em Redação": [media_redacao], 
                                       "Nota Média em Matemática": [media_matematica],
                                       "% Aprovação Redação": [percentual_aprovados_red],
                                       "% Aprovação Matemática": [percentual_aprovados_mat],
                                       "% Aprovação Total": [percentual_aprovados_total]})

In [28]:
df_performance_escolar

,Total de Escolas,Total de Estudantes,Total Orçamento,Nota Média em Redação,Nota Média em Matemática,% Aprovação Redação,% Aprovação Matemática,% Aprovação Total
0,15,39160,24649428,81.875741,78.984934,85.801839,74.974464,65.163432

In [29]:
type(df_performance_escolar)

pandas.core.frame.DataFrame

> **10- Formate as colunas "Total de Estudantes" e "Total Orçamento" ajustando as casas decimais.**

In [30]:
df_performance_escolar["Total de Estudantes"] = df_performance_escolar["Total de Estudantes"].map("{:,}".format)
df_performance_escolar["Total Orçamento"] = df_performance_escolar["Total Orçamento"].map("${:,.2f}".format)

In [31]:
df_performance_escolar

,Total de Escolas,Total de Estudantes,Total Orçamento,Nota Média em Redação,Nota Média em Matemática,% Aprovação Redação,% Aprovação Matemática,% Aprovação Total
0,15,"39,160","$24,649,428.00",81.875741,78.984934,85.801839,74.974464,65.163432

## Análise de Dados com Pandas

**1- Entre os alunos aprovados em Redação, qual gênero obteve maior número de aprovações?**

In [32]:
aprovados_por_genero_red = dados_full[(dados_full["Nota_Redacao"] >= 70)]["Genero"].value_counts()
aprovados_por_genero_red

F    17027
M    16573
Name: Genero, dtype: int64

**2- Entre os alunos aprovados em Matemática, qual gênero obteve maior número de aprovações?**

In [33]:
aprovados_por_genero_mat = dados_full[(dados_full["Nota_Matematica"] >= 70)]["Genero"].value_counts()
aprovados_por_genero_mat

F    14835
M    14525
Name: Genero, dtype: int64

**3- Quais os tipos de todas as escolas em nossa base de dados?**

In [34]:
dados_escolas["Tipo_Escola"].value_counts()

Particular    8
Publica       7
Name: Tipo_Escola, dtype: int64

In [35]:
tipos_escolas = dados_escolas.set_index(["Nome_Escola"])["Tipo_Escola"].sort_values()
tipos_escolas

Nome_Escola
Escola C    Particular
Escola E    Particular
Escola F    Particular
Escola G    Particular
Escola I    Particular
Escola J    Particular
Escola K    Particular
Escola O    Particular
Escola A       Publica
Escola B       Publica
Escola D       Publica
Escola H       Publica
Escola L       Publica
Escola M       Publica
Escola N       Publica
Name: Tipo_Escola, dtype: object

**4- Qual o total de estudantes por escola?**

In [36]:
total_estudantes_escola = dados_full["Nome_Escola"].value_counts().sort_values()
total_estudantes_escola

Escola I     427
Escola J     962
Escola E    1468
Escola O    1625
Escola C    1761
Escola K    1800
Escola G    1858
Escola F    2283
Escola N    2739
Escola A    2917
Escola B    2949
Escola L    3999
Escola D    4635
Escola M    4761
Escola H    4976
Name: Nome_Escola, dtype: int64

**5- Qual o total de orçamento de cada escola per capita (por estudante)?**

In [37]:
orc_escola = dados_full.groupby(["Nome_Escola"]).mean()["Orcamento_Anual"].sort_values()
orc_escola

Nome_Escola
Escola I     248087.0
Escola J     585858.0
Escola E     917500.0
Escola O    1043130.0
Escola K    1049400.0
Escola C    1056600.0
Escola G    1081356.0
Escola F    1319574.0
Escola N    1763916.0
Escola B    1884411.0
Escola A    1910635.0
Escola L    2547363.0
Escola D    3022020.0
Escola M    3094650.0
Escola H    3124928.0
Name: Orcamento_Anual, dtype: float64

In [38]:
orc_escola_percapita = (orc_escola / total_estudantes_escola).sort_values()
orc_escola_percapita

Escola F    578.000000
Escola I    581.000000
Escola G    582.000000
Escola K    583.000000
Escola C    600.000000
Escola J    609.000000
Escola E    625.000000
Escola H    628.000000
Escola L    637.000000
Escola B    639.000000
Escola O    641.926154
Escola N    644.000000
Escola M    650.000000
Escola D    652.000000
Escola A    655.000000
dtype: float64

In [39]:
dados_full.columns

Index(['ID_Estudante', 'Nome_Estudante', 'Genero', 'Serie', 'Nome_Escola',
       'Nota_Redacao', 'Nota_Matematica', 'ID_Escola', 'Tipo_Escola',
       'Numero_Alunos', 'Orcamento_Anual'],
      dtype='object')

In [40]:
type(orc_escola)

pandas.core.series.Series

In [41]:
dados_full.head()

,ID_Estudante,Nome_Estudante,Genero,Serie,Nome_Escola,Nota_Redacao,Nota_Matematica,ID_Escola,Tipo_Escola,Numero_Alunos,Orcamento_Anual
0,0,Kevin Bradley,M,6,Escola A,66,79,0,Publica,2917,1910635
1,1,Paul Smith,M,9,Escola A,94,61,0,Publica,2917,1910635
2,2,John Rodriguez,M,9,Escola A,90,60,0,Publica,2917,1910635
3,3,Oliver Scott,M,9,Escola A,67,58,0,Publica,2917,1910635
4,4,William Ray,F,6,Escola A,97,84,0,Publica,2917,1910635

**6- Qual a nota média dos alunos em Redação para cada escola?**

In [ ]:
media_escola_red = dados_full.groupby(["Nome_Escola"]).mean()["Nota_Redacao"].sort_values()
media_escola_red

**7- Qual a nota média dos alunos em Matemática para cada escola?**

In [ ]:
media_escola_mat = dados_full.groupby(["Nome_Escola"]).mean()["Nota_Matematica"].sort_values()
media_escola_mat

In [ ]:
dados_full.columns

**8- Considerando somente os alunos aprovados em Redação, qual a média de alunos aprovados por escola?**

In [ ]:
# Alunos aprovados em Redação
aprovados_red = dados_full[(dados_full["Nota_Redacao"] >= 70)]
aprovados_red.head()

In [ ]:
# Média da nota em Redação por escola considerando os aprovados em Redação
media_apr_red_esc = (aprovados_red.groupby(["Nome_Escola"]).count()["Nome_Estudante"] / total_estudantes_escola * 100).sort_values()
media_apr_red_esc

**9- Considerando somente os alunos aprovados em Matemática, qual a média de alunos aprovados por escola?**

In [ ]:
# Alunos aprovados em Matemática
aprovados_mat = dados_full[(dados_full["Nota_Matematica"] >= 70)]
aprovados_mat.head()

In [ ]:
# Média da nota em Matemática por escola considerando os aprovados em Matemática
media_apr_mat_esc = (aprovados_mat.groupby(["Nome_Escola"]).count()["Nome_Estudante"] / total_estudantes_escola * 100).sort_values()
media_apr_mat_esc

**10- Considerando alunos aprovados em Matemática e Redação, qual foi a média de alunos aprovados por escola?**

In [ ]:
aprovados_mat_red = dados_full[(dados_full["Nota_Redacao"] >= 70) & (dados_full["Nota_Matematica"] >= 70)]
aprovados_mat_red.head()

In [ ]:
taxa_aprovados_red_mat = (aprovados_mat_red.groupby(["Nome_Escola"]).count()["Nome_Estudante"] / total_estudantes_escola * 100).sort_values()
taxa_aprovados_red_mat

Vamos construir um dataframe de resumo com as métricas anteriores.

In [ ]:
df_resumo_performance_escolar = pd.DataFrame({"Tipo Escola": tipos_escolas,
                                              "Total Estudantes": total_estudantes_escola,
                                              "Total Orçamento": orc_escola,
                                              "Orçamento Por Estudante": orc_escola_percapita,
                                              "Nota Média Aprovação Redação": media_escola_red,
                                              "Nota Média Aprovação Matemática": media_escola_mat,
                                              "% Aprovados Redação": media_apr_red_esc,
                                              "% Aprovados Matemática": media_apr_mat_esc,
                                              "% Geral Aprovados": taxa_aprovados_red_mat})

In [ ]:
df_resumo_performance_escolar

Formatamos algumas colunas.

In [ ]:
df_resumo_performance_escolar["Total Orçamento"] = df_resumo_performance_escolar["Total Orçamento"].map("${:,.2f}".format)
df_resumo_performance_escolar["Orçamento Por Estudante"] = df_resumo_performance_escolar["Orçamento Por Estudante"].map("${:,.2f}".format)

In [ ]:
df_resumo_performance_escolar

In [ ]:
df_resumo_performance_escolar.describe()

In [ ]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

**11-A- Considerando a taxa geral de aprovados, quais as 5 escolas com melhor performance?**

In [ ]:
top_escolas = df_resumo_performance_escolar.sort_values(["% Geral Aprovados"], ascending = False)
top_escolas.head(5)

**11-B- Considerando a taxa geral de aprovados, quais as 5 escolas com pior performance?**

In [ ]:
bottom_escolas = df_resumo_performance_escolar.sort_values(["% Geral Aprovados"], ascending = True)
bottom_escolas.head(5)

In [ ]:
dados_full.columns

**12- Em cada série, qual escola teve os alunos com melhor performance em Matemática?**

In [ ]:
sexta_serie = dados_full[(dados_full["Serie"] == 6)]
setima_serie = dados_full[(dados_full["Serie"] == 7)]
oitava_serie = dados_full[(dados_full["Serie"] == 8)]
nona_serie = dados_full[(dados_full["Serie"] == 9)]

In [ ]:
sexta_serie.head()

In [ ]:
notas_sexta_serie = sexta_serie.groupby(["Nome_Escola"]).mean()["Nota_Matematica"]
notas_setima_serie = setima_serie.groupby(["Nome_Escola"]).mean()["Nota_Matematica"]
notas_oitava_serie = oitava_serie.groupby(["Nome_Escola"]).mean()["Nota_Matematica"]
notas_nona_serie = nona_serie.groupby(["Nome_Escola"]).mean()["Nota_Matematica"]

In [ ]:
notas_por_serie = pd.DataFrame({"Sexta Série": notas_sexta_serie, 
                                "Sétima Série": notas_setima_serie,
                                "Oitava Série": notas_oitava_serie, 
                                "Nona Série": notas_nona_serie})

In [ ]:
notas_por_serie.sort_values(by = "Nome_Escola")

In [ ]:
notas_por_serie["Sexta Série"].idxmax()

In [ ]:
notas_por_serie["Sétima Série"].idxmax()

In [ ]:
notas_por_serie["Oitava Série"].idxmax()

In [ ]:
notas_por_serie["Nona Série"].idxmax()

**13- Considerando as faixas de gastos por estudante como sendo: [0, 585, 630, 645, 680], qual faixa resulta em estudantes com melhor performance?**

In [ ]:
df_resumo_performance_escolar.columns

In [ ]:
faixas_bins = [0, 585, 630, 645, 680]
labels_faixas = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
df_resumo_performance_escolar["Faixa de Gastos Por Estudante"] = pd.cut(orc_escola_percapita, 
                                                                        faixas_bins, 
                                                                        labels = labels_faixas, 
                                                                        right = False)

In [ ]:
df_resumo_performance_escolar

In [ ]:
df_resumo_performance_escolar.columns

In [ ]:
df_13_1 = df_resumo_performance_escolar.groupby(["Faixa de Gastos Por Estudante"]).mean()["Nota Média Aprovação Redação"]
df_13_2 = df_resumo_performance_escolar.groupby(["Faixa de Gastos Por Estudante"]).mean()["Nota Média Aprovação Matemática"]
df_13_3 = df_resumo_performance_escolar.groupby(["Faixa de Gastos Por Estudante"]).mean()["% Aprovados Redação"]
df_13_4 = df_resumo_performance_escolar.groupby(["Faixa de Gastos Por Estudante"]).mean()["% Aprovados Matemática"]
df_13_5 = df_resumo_performance_escolar.groupby(["Faixa de Gastos Por Estudante"]).mean()["% Geral Aprovados"]

In [ ]:
df_performance_gastos = pd.DataFrame({"Média Redação" : df_13_1.round(2),
                                      "Média Matemática": df_13_2.round(2),
                                      "% Aprovados Redação": df_13_3.round(2),
                                      "% Aprovados Matemática": df_13_4.round(2),
                                      "% Geral Aprovados": df_13_5.round(2)})

In [ ]:
df_performance_gastos

**14- Considerando as faixas de tamanho (número de alunos) das escolas como sendo: [0, 1000, 2000, 5000], qual faixa resulta em estudantes com melhor performance?**

In [ ]:
df_resumo_performance_escolar.columns

In [ ]:
tamanho_bins = [0, 1000, 2000, 5000]
labels_tamanhos = ["Pequeno Porte (<1000)", "Médio Porte (1000-2000)", "Grande Porte (2000-5000)"]

In [ ]:
df_resumo_performance_escolar["Tamanho Escola"] = pd.cut(df_resumo_performance_escolar["Total Estudantes"], 
                                                         tamanho_bins, 
                                                         labels = labels_tamanhos, 
                                                         right = False)

In [ ]:
df_resumo_performance_escolar

In [ ]:
df_14_1 = df_resumo_performance_escolar.groupby(["Tamanho Escola"]).mean()["Nota Média Aprovação Redação"]
df_14_2 = df_resumo_performance_escolar.groupby(["Tamanho Escola"]).mean()["Nota Média Aprovação Matemática"]
df_14_3 = df_resumo_performance_escolar.groupby(["Tamanho Escola"]).mean()["% Aprovados Redação"]
df_14_4 = df_resumo_performance_escolar.groupby(["Tamanho Escola"]).mean()["% Aprovados Matemática"]
df_14_5 = df_resumo_performance_escolar.groupby(["Tamanho Escola"]).mean()["% Geral Aprovados"]

In [ ]:
df_performance_tamanho = pd.DataFrame({"Média Redação" : df_14_1.round(2),
                                       "Média Matemática": df_14_2.round(2),
                                       "% Aprovados Redação": df_14_3.round(2),
                                       "% Aprovados Matemática": df_14_4.round(2),
                                       "% Geral Aprovados": df_14_5.round(2)})

In [ ]:
df_performance_tamanho

**15- Qual o impacto do tipo de escola na performance dos alunos?**

In [ ]:
df_resumo_performance_escolar.columns

In [ ]:
df_15_1 = df_resumo_performance_escolar.groupby(["Tipo Escola"]).mean()["Nota Média Aprovação Redação"]
df_15_2 = df_resumo_performance_escolar.groupby(["Tipo Escola"]).mean()["Nota Média Aprovação Matemática"]
df_15_3 = df_resumo_performance_escolar.groupby(["Tipo Escola"]).mean()["% Aprovados Redação"]
df_15_4 = df_resumo_performance_escolar.groupby(["Tipo Escola"]).mean()["% Aprovados Matemática"]
df_15_5 = df_resumo_performance_escolar.groupby(["Tipo Escola"]).mean()["% Geral Aprovados"]

In [ ]:
df_performance_tipo_escola = pd.DataFrame({"Média Redação": df_15_1.round(2),
                                           "Média Matemática": df_15_2.round(2),
                                           "% Aprovados Redação": df_15_3.round(2),
                                           "% Aprovados Matemática": df_15_4.round(2),
                                           "% Geral Aprovados": df_15_5.round(2)})

In [ ]:
df_performance_tipo_escola

In [ ]:
df_resumo_performance_escolar.to_excel('dados/df_resumo_performance_escolar.xlsx')

# Fim