# Pandas - Series

# valores NaN(Not a Number)

In [2]:
import sys
import numpy as np
import pandas as pd

print(sys.version)

pd.__version__

3.8.10 (default, Jun  4 2021, 15:09:15)
[GCC 7.5.0]

'1.2.4'

In [3]:
# Usando NumPy
array1 = np.array([1,2,3,np.nan])

In [4]:
array1

array([ 1.,  2.,  3., nan])

In [5]:
array1.mean()

nan

In [6]:
# Usando Pandas
serie2 = pd.Series([1,2,3,np.nan])

In [7]:
serie2

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [8]:
serie2.mean()

2.0

# Concatenando as Séries

In [9]:
np.random.seed(567)

In [10]:
serie3 = pd.Series(np.random.rand(5))

In [11]:
serie3

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
dtype: float64

In [12]:
serie4 = pd.Series(np.random.rand(5))

In [13]:
serie4

0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [14]:
combo = pd.concat([serie3, serie4])

In [15]:
combo

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [16]:
combo[0]

0    0.304782
0    0.302074
dtype: float64

In [17]:
combo.index = range(combo.count())

In [18]:
combo

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
5    0.302074
6    0.876231
7    0.705643
8    0.681150
9    0.548266
dtype: float64

In [19]:
type(combo)

pandas.core.series.Series

In [20]:
combo

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
5    0.302074
6    0.876231
7    0.705643
8    0.681150
9    0.548266
dtype: float64

In [21]:
combo.reindex([0, 2, 16, 21])

0     0.304782
2     0.964709
16         NaN
21         NaN
dtype: float64

In [22]:
combo.reindex([0, 2, 16, 21], fill_value = 0)

0     0.304782
2     0.964709
16    0.000000
21    0.000000
dtype: float64

In [23]:
new_combo = combo.reindex([0,2,16,21])

In [24]:
new_combo

0     0.304782
2     0.964709
16         NaN
21         NaN
dtype: float64

In [25]:
new_combo.ffill()

0     0.304782
2     0.964709
16    0.964709
21    0.964709
dtype: float64

In [26]:
new_combo.bfill()

0     0.304782
2     0.964709
16         NaN
21         NaN
dtype: float64

In [27]:
new_combo.fillna(12)

0      0.304782
2      0.964709
16    12.000000
21    12.000000
dtype: float64

# Operações com Series - Índices Diferentes

In [28]:
s1 = pd.Series(np.random.randn(5)); s1

0    0.724774
1    0.124588
2    1.023399
3    2.221557
4    1.130909
dtype: float64

In [29]:
s2 = pd.Series(np.random.randn(5)); s2

0   -0.651538
1   -1.179986
2    0.437101
3   -0.607102
4    1.310954
dtype: float64

In [30]:
s1 + s2

0    0.073236
1   -1.055398
2    1.460500
3    1.614455
4    2.441862
dtype: float64

In [31]:
s2.index = list(range(3, 8)); s2

3   -0.651538
4   -1.179986
5    0.437101
6   -0.607102
7    1.310954
dtype: float64

In [32]:
s1 + s2

0         NaN
1         NaN
2         NaN
3    1.570019
4   -0.049077
5         NaN
6         NaN
7         NaN
dtype: float64

In [33]:
s1.reindex(range(10), fill_value = 0) + s2.reindex(range(10), fill_value = 0)

0    0.724774
1    0.124588
2    1.023399
3    1.570019
4   -0.049077
5    0.437101
6   -0.607102
7    1.310954
8    0.000000
9    0.000000
dtype: float64

In [34]:
s1 = pd.Series(range(1, 4), index = ['a', 'a', 'c']); s1

a    1
a    2
c    3
dtype: int64

In [35]:
s2 = pd.Series(range(1, 4), index = ['a', 'a', 'b']); s2

a    1
a    2
b    3
dtype: int64

In [36]:
s1 * s2

a    1.0
a    2.0
a    2.0
a    4.0
b    NaN
c    NaN
dtype: float64

In [37]:
s1 + s2

a    2.0
a    3.0
a    3.0
a    4.0
b    NaN
c    NaN
dtype: float64

# Copiando uma Serie

In [38]:
s1_copy = s1.copy()

In [39]:
s1_copy['a'] = 3
s1_copy

a    3
a    3
c    3
dtype: int64

In [40]:
s1

a    1
a    2
c    3
dtype: int64

# Função map() do Pandas

In [41]:
# Função map() - versão do Pandas
s1.map(lambda x: x ** 2)

a    1
a    4
c    9
dtype: int64

In [42]:
s1.map({1:2, 2:3, 3:12})

a     2
a     3
c    12
dtype: int64

In [43]:
s1.map({2:3, 3:12})

a     NaN
a     3.0
c    12.0
dtype: float64

# FIM