In [1]:
# Modelo preditivo de classificação para prever o valor de uma variável binária (true ou false) 
# a partir de dados numéricos

# Import dos módulos
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

# Dados de treino
n_train = 10
np.random.seed(0)
df_treino = pd.DataFrame({"var1": np.random.random(n_train), \
                          "var2": np.random.random(n_train), \
                          "var3": np.random.random(n_train), \
                          "var4": np.random.randint(0,2,n_train).astype(bool),\
                          "target": np.random.randint(0,2,n_train).astype(bool)})

# Dados de teste
n_test = 3
np.random.seed(1)
df_teste = pd.DataFrame({"var1": np.random.random(n_test), \
                         "var2": np.random.random(n_test), \
                         "var3": np.random.random(n_test), \
                         "var4": np.random.randint(0,2,n_test).astype(bool),\
                         "target": np.random.randint(0,2,n_test).astype(bool)})

In [2]:
# analisando os dados
df_teste.describe()

           var1      var2      var3
count  3.000000  3.000000  3.000000
mean   0.379154  0.180476  0.309529
std    0.361595  0.108982  0.109782
min    0.000114  0.092339  0.186260
25%    0.208568  0.119547  0.265910
50%    0.417022  0.146756  0.345561
75%    0.568673  0.224544  0.371164
max    0.720324  0.302333  0.396767

In [3]:
df_treino.describe()

            var1       var2       var3
count  10.000000  10.000000  10.000000
mean    0.615766   0.547343   0.580251
std     0.194454   0.358835   0.304107
min     0.383442   0.020218   0.118274
25%     0.464411   0.197571   0.426366
50%     0.575788   0.673101   0.580885
75%     0.697866   0.822396   0.794501
max     0.963663   0.925597   0.978618

In [4]:
df_treino.head()

       var1      var2      var3   var4  target
0  0.548814  0.791725  0.978618   True    True
1  0.715189  0.528895  0.799159  False    True
2  0.602763  0.568045  0.461479   True   False
3  0.544883  0.925597  0.780529  False   False
4  0.423655  0.071036  0.118274   True   False

In [5]:
# Crie um modelo com PCA para redução de dimensionalidade com 3 componentes
pca = PCA(n_components=3)

In [8]:
# Aplique o PCA aos datasets - removendo a target
df_treino_pca = pca.fit_transform(df_treino.drop('target', axis = 1))
df_teste_pca = pca.fit_transform(df_teste.drop('target', axis = 1))

In [9]:
# Crie dataframes do pandas com o resultado do item anterior
new_df_treino_pca = pd.DataFrame(df_treino_pca)
new_df_teste_pca = pd.DataFrame(df_teste_pca)

In [10]:
# Crie um modelo de regressão logística
lr = LogisticRegression()

In [11]:
# Usando o recurso de pipeline do scikit-learn para encadear 2 algoritmos em um mesmo modelo, 
# concatene o resultado do PCA e Regressão Logística
model = Pipeline(steps=[
            ('PCA', pca),
            ('LR', lr)
])

In [14]:
# Treina o modelo
model.fit(new_df_treino_pca, df_treino['target'])

Pipeline(steps=[('PCA', PCA(n_components=3)), ('LR', LogisticRegression())])

In [15]:
# Faça previsões com o modelo treinado
previsoes = model.predict(new_df_teste_pca)

In [16]:
# Imprimindo as previsões
print(previsoes)

[ True  True False]

In [17]:
df_teste.head()

       var1      var2      var3   var4  target
0  0.417022  0.302333  0.186260  False    True
1  0.720324  0.146756  0.345561  False   False
2  0.000114  0.092339  0.396767  False   False